/**
 * @author DANIEL GIMÉNEZ LÓPEZ-TORRES
 */

/* VARIABLES */
/* --------------------------------------------------- */

:root{
    --c0:#0c1021;
    --c1:#e0ca3c;
    --c2:#93b7be;
    --c3:#048a81;

    --c00:#111731;
    --c01:#444A75;

    --c4:#030418;
    --c5:#141B41;
    --c6:#306BAC;
    --c7:#6F9CEB;
    --c8:#98B9F2;
    --c9:#918EF4;

    --ct:#EEE;
    --ct2:#222;
}

/* ................................................... */



/* ALL-ENCOMPASSING RULES */
/* --------------------------------------------------- */

*{
    box-sizing: border-box;
    color: var(--ct);
    font-family: 'Nunito Sans',Arial,Helvetica,sans-serif;
    font-size: 1rem;
}

/* ................................................... */



/* TAG RULES */
/* --------------------------------------------------- */

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    width: 100%;

    background-color: var(--c0);

    border: .75rem solid var(--c2);

    margin: 0;
}
body>*{
    padding:3rem;
}
body>header,body>footer{
    background-color: var(--c00);

    margin: 0;
}
body>header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 50% 80% , 0 100% );

    padding-inline: 5rem;
}

body>header>nav a{
    font-family: 'Nunito',Arial,Helvetica,sans-serif;
    font-size: 1.3rem;
}
body>header>nav ul{
    list-style: none;
}
body>header>nav>ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    padding-left: 0;
    margin:2rem 0;
}
body>header>nav ul>li{
    padding:.5rem 1rem;
    margin:.5rem;
    margin-left:1rem;
}
body>header>nav>ul>li>a::after,body>header>nav>ul>li>a::before{
    content: "";
    display: block;
    background-color: var(--c3);
    width: 100%;
    height: 2px;

    border-radius: 100%;

    transform: scaleX( 0 );
    transition: all ease-in-out .1s;
}
body>header>nav>ul>li>a::before{
    margin-bottom: .3rem;
}
body>header>nav>ul>li>a::after{
    margin-top: .4rem;
}
body>header>nav>ul>li>a:hover:before{
    transform: scaleX( 1.1 );
}
body>header>nav>ul>li>a:hover:after{
    transform: scaleX( 1.2 );
}

body>main{
    max-width: 60%;

    margin: auto;
}
body>main::before{
    content: "";
    display: block;
    height: 1px;

    background-color: var(--c8);

    margin-bottom: 7rem;
    
    transform: scaleX( 1.3 );
}
body>footer{
    font-size: 1.2rem;
    text-align: center;

    clip-path: polygon( 50% 0 , 100% 20% , 100% 100% , 0 100% , 0 20% );
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat',Arial,Helvetica,sans-serif;
    font-weight: 300;
}
h1{
    font-size: 2.488rem;
}
h2{
    font-size: 2.074rem;
    font-variant: small-caps;
}
h3{
    font-size: 1.728rem;
}
h4{
    font-size: 1.44rem;
}
h5{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}
a:not(.alink){
    color: var(--c8);
    transition:all ease-in-out .1s;
}
a:not(.alink):hover{
    color: var(--c3);
}

/* ................................................... */



/* ID RULES */
/* --------------------------------------------------- */

#dropdown{
    position: relative;

    display: none;

    margin: 0;
    padding: 0;
}
#dropdown>label{
    display: inline-block;

    cursor: pointer;
    
    font-size: 5rem;
    color: var(--c8);

    user-select: none;

    padding: .75rem;
}
#dropdown>input{
    display: none;
}
#dropdown>ul{
    position: absolute;
    left: -9.55rem;

    display: none;

    text-align: center;
}
#dropdown>input:checked+ul{
    display: block;
}
#dropdown>ul{
    background-color: var(--c00);

    border: .1rem solid var(--c8);
    border-radius: .2rem;

    padding: 1rem 2rem;
}
#dropdown>ul>li{
    border-bottom: .1rem solid var(--c8);
    margin: 0;
    padding: 1rem 2rem;
}
#dropdown>ul>li>a{
    display: block;
}
#dropdown>ul>li:last-child{
    border-bottom: none;
}

p#catch{
    max-width: 90%;
    
    font-family: 'Rajdhani',Arial,Helvetica,sans-serif;
    font-size: 2.2rem;
    text-align: center;
    
    margin:auto;
}

div#mainShowcase{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.6);
}
div#mainShowcase>button{
    position: fixed;
    top: 5%;
    right: 15%;

    vertical-align: middle;

    border: none;
    background: none;
}
div#mainShowcase>button::after{
    content: "X";
    font-family: 'Montserrat',Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 3rem;

    color: var(--ct);
}
div#mainShowcase>button:hover:after{
    color: #bbb;
    cursor:pointer;

    transition: all ease-in-out .1s;
}
div#mainShowcase>img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    max-width: 80%;
    max-height: 80%;
}

#cvs{
    text-align: center;

    margin-bottom: 3rem;
}
#cvs>div{
    padding-top: 3rem;
}

div#contacts>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;

    padding: 0;
}
div#contacts>ul>li{
    margin: 0 1rem;
}
#clinkedin,#cgithub{
    display: inline-block;
    width: 2rem;
}
#clinkedin::after{ content: url(svg/linkedin.svg); }
#cgithub::after{ content: url(svg/github.svg); }

a#backTop{
    padding: .1em .8rem;

    font-size: 3rem;
}
a#backTop::after{
    content: "\27A4";
    display: inline-block;
    transform: rotate(-90deg);

    padding-bottom: .1rem;
}

/* ................................................... */



/* CLASS RULES */
/* --------------------------------------------------- */

div.experience,div.bproject{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 0;

    margin: 3rem auto;
}

.afterline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
}
.afterline::after{
    content: "";
    width: 15rem;
    height: 2px;

    background-color: var(--c3);

    margin-left: 2rem;
}

.alink{
    background-color: var(--c6);

    font-weight: bold;

    border-radius: 10rem;
    box-shadow: 0 .4rem .4rem .1rem var(--c0);

    padding: 1rem 1.5rem;
    margin: .5rem;
}
.alink:hover{
    background-color: var(--c01);
    transition: all ease-in-out .1s;
}
.ainternal::after{
    content: "\25B8";
    transition: all ease-in-out .1s;

    margin-left: .75rem;
    margin-right: .75rem;
}
.ainternal:hover:after{
    margin-left: 1.5rem;
    margin-right: 0;
}
.aexternal::after{
    content: url(svg/external.svg);
    display: inline-block;
    transition: all ease-in-out .1s;

    margin-left: .5rem;
    margin-right: .5rem;
}

/* Student project */

div.bproject:nth-child(odd){
    flex-direction: row-reverse;
}
div.bproject>div:first-child{
    flex: 1.5 1 0;
}
div.bproject>div:last-child{
    flex: 1 1 0;
}
div.bproject img{
    cursor: pointer;
    width: 100%;
    height: auto;

    border-radius: 1rem;

    transition: box-shadow .1s ease-in-out;
}
div.bproject:nth-child(odd) img{
    box-shadow: -1rem 1rem 0 0 var(--c6);
}
div.bproject:nth-child(even) img{
    box-shadow: 1rem 1rem 0 0 var(--c6);
}
div.bproject:nth-child(odd) img:hover{
    box-shadow: -.5rem .5rem 0 0 var(--c1);
}
div.bproject:nth-child(even) img:hover{
    box-shadow: .5rem .5rem 0 0 var(--c1);
}
div.bproject:nth-child(even) img{
    margin-left: 4rem;
    transform: rotate(.5deg);
}
div.bproject:nth-child(odd) img{
    transform: rotate(-.5deg);
}
div.bproject:nth-child(odd) article{
    margin-left: 5rem;
}

article.bproject{
    display: inline-block;
    background-color: var(--c00);

    box-shadow: 0 1rem 3rem 1rem var(--c0);

    border-radius: .4rem;
    padding: 3rem;
}
article.bproject>h4{
    font-weight: bold;
    margin-top: 0;
}
.projlinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.projlinks>a{
    display: inline-block;
    font-size: 1.2rem;

    margin: .5em;
}
.projlinks>a *{
    font-size: 1.2rem;
}

/* -------------------- */

/* Education */

div.experience{
    border-left: .75rem solid #fff;
}
div.experience>article{
    width: 100%;

    padding-left: 2rem;
}
div.experience>article header,div.experience>article>a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
div.experience>article header{
    justify-content: space-between;
}
div.experience>article>a{
    font-size: 1.3rem;
}
div.experience>article img{
    width: 3rem;
    height: auto;

    border-radius: .1rem;

    margin-right: 2rem;
}
div.experience>article>footer{
    font-size: 1.6rem;

    margin-top: 2rem;
}

div.work{
    border-color: var(--c7) !important;
}
div.education{
    border-color: var(--c3) !important;
}

/* -------------------- */

/* Tech list */
/* -------------------- */

ul.techlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    list-style: none;

    overflow: hidden;

    padding-left: 0;
    margin: 2rem 0;
}
ul.techlist>li{
    background-color: var(--c3);

    font-weight: bold;

    padding: .5rem 1rem;
    margin: .5rem;

    transform: translateZ(0)
}
ul.techlist>li:nth-child(odd){
    clip-path: polygon( 10% 12% , 88% 2% , 98% 99% , 6% 92% );
}
ul.techlist>li:nth-child(even){
    clip-path: polygon( 6% 2% , 95% 10% , 92% 99% , 9% 97% );
}

/* -------------------- */


/* ................................................... */


/* RESPONSIVE */
/* --------------------------------------------------- */

@media only screen and (max-width: 576px){
    html{
        font-size: 12px;
    }
    body>*{
        padding: 1rem;
    }
    body>main{
        max-width: 90%;
    }
    body>main::before{
        width: 0;
    }
    article.bproject{
        padding: 1rem;
    }
    .afterline::after{
        width: 0;
    }
    .aexternal::after{
        min-width: 0;
        width: .2rem;
    }
}
@media only screen and (max-width: 768px){
    body>header{
        padding: .1rem 2rem;
    }
    body>header>h1{
        font-size: 3rem;

        max-width: 40%;
    }
    nav>ul>li:not(#dropdown){
        display: none;
    }
    #dropdown{
        display: list-item;
    }
    body>header{
        clip-path: none /*polygon( 0 0 , 100% 0 , 100% 90% , 50% 100% , 0 90% )*/ !important;
    }
}
/*@media only screen and (max-width: 992px){

}*/
/*@media only screen and (max-width: 1200px){

}*/
@media only screen and (max-width: 1500px){
    body>header{
        margin-bottom: 2rem;
    }
    div.bproject{
        flex-direction: column !important;
    }
    div.bproject article{
        margin: 0 !important;
    }
    div.bproject img{
        margin: 4rem 0 5rem 0 !important;
    }
}

/* --------------------------------------------------- */